name: CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run linter
        run: ruff check .

      - name: Run unit tests
        run: |
            export PYTHONPATH=$PYTHONPATH:.
            pytest tests/


      - name: Start FastAPI app
        run: |
          uvicorn app.main:app --host 127.0.0.1 --port 8000 &
          sleep 5

      - name: Run end to end tests
        run: pytest tests/test_e2e.py
